@model VATViewModel.DTOs.CoEfficientMISViewModel
@using UIHelper.MVC
@{
    Layout = "~/Areas/VMS/Views/Shared/_ModalLayout.cshtml";
}

<div class="trkmodal-content">
    <div class="trkmodal-header">
        <span class="close">&times;</span>
        <h2 class="text-center">Input Output Co-Efficient Report</h2>
    </div>
    <div class="trkmodal-body">
        @using (Html.BeginForm("ReportCoEfficient", "MISReport", FormMethod.Post, new { enctype = "multipart/form-data", @target = "_blank", @Id = "frmEoEfficient" }))
        {
            <div class="npForm col-md-12">
                <div class="col-md-10 npForm">
                    <label>Product Name</label>
                    @Html.HiddenFor(m => m.ItemNo)
                    @Html.TextBoxFor(m => m.ProductName, new { @class = " form-control trProductName", @readonly = "readonly" })
                </div>
                <div class=" col-md-2 npForm">
                    <label>&nbsp;</label>
                    <button type="button" class=" sym-btn-search productBtn">
                        Search
                    </button>
                </div>
            </div>

            <div class="npForm col-md-12">
                <label>Product Group</label>
                @Html.TextBoxFor(m => m.GroupName, new { @class = " form-control trGroupName", @readonly = "readonly" })
            </div>
            <div class="npForm col-md-6">
                <label>Date From</label>
                @Html.TextBoxFor(m => m.DateFrom, new { @placeholder = "Start Date", @class = "customDatePicker form-control" })
            </div>
            <div class="npForm col-md-6">
                <label>Date To</label>
                @Html.TextBoxFor(m => m.DateTo, new { @placeholder = "End Date", @class = "customDatePicker form-control" })
            </div>
            <div class="npForm col-md-12 chkDesign">
                @Html.HiddenFor(m => m.Post, new { @class=" chkValue"})
                <label style="display:inline">Post </label>
                <input id="input-1" type="checkbox">
            </div>
            <div class="npForm col-md-2">
        @Html.SimpleDropDownFor(m => m.FontSize, "/Config/DropDown/Font", new { @class = " form-control DRselectDropdown" })
    </div>
            <button type="button" class=" btn sym-btn-report trPreview"> Preview</button>
        <button type="button" class="sym-btn-close closeBtn pull-right"> Close</button>
        }
    </div>
</div>
<div id="myHigherModal" class="HigherModal"></div>
<script>
    $(document).ready(function () {
        ////boolean checkbox
        CheckBoxDesign();
        MyCheckBox('@Model.Post', 'input-1', 'Post');

        ///check validation
        function checkValidation() {
            var startDate = $('#DateFrom').val();
            if (startDate == "") {
                ShowResult("Fail", "Select start date!");
                return false;
            }
            var endDate = $('#DateTo').val();
            if (endDate == "") {
                ShowResult("Fail", "Select end date!");
                return false;
            }
            return true;
        }
        ////clicking preview button
        $('.trPreview').click(function () {
            
            var isValid = checkValidation();
            if (isValid == false) {
                alert(1);
                return;
            }
            //$('#frmAdj').submit(); 
            $('#frmEoEfficient').submit();
            //pageSubmit('frmEoEfficient');
        });

        function closeModal() {
            $("#myModal").html("");
            trkmodal.style.display = "none";
        }

        var span = document.getElementsByClassName("close")[0];
        var trkmodal = document.getElementById('myModal');
        //When the user clicks on <span> (x), close the trkmodal
        span.onclick = function () {
            closeModal();
        }

        $('.closeBtn').click(function () {
            closeModal();
        });

    });
</script>
@*clicking product or purchase button*@
<script>
    function modalInitHigher(url) {
        var modal = document.getElementById('myHigherModal');
        $.ajax({
            url: url,
            cache: false,
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (html) {
                modal.style.display = "block";
                $("#myHigherModal").html(html);
            }
        }); 
    }
    function callbackFromProductModal(sender) {
        var itemNo = $(sender).children('td.popUpItemNo').text();
        var pGroup = $(sender).children('td.popUpCategory').text();

        $('#ItemNo').val(itemNo);
        $('#GroupName').val(pGroup);

    }

    $(function () {
        $('.productBtn').click(function () {
            var url = "/Vms/Product/GetProductPopUp?targetId=ProductName";
            modalInitHigher(url);
        });
    });

</script>
