@model VATViewModel.DTOs.Client6_3VM
@using UIHelper.MVC


<div class="headrow">
    <button type="button" title="Add New" data-url="/VMS/Client6_3Invoice/Create?TransactionType=@Model.TransactionType" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    @*<button type="button" title="Delete" data-url="/VMS/Toll6_3Invoice/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
    <label class="pull-right">Toll Invoice</label>
</div>
<div class="thinbox animated slideInDown faster">
    <div class="th_thinbox">
        <p> Invoice List</p>
    </div>

    <div class="dtSearch formDesign">
        <div class="row">
            <div class="trk1_5">
                <div class="editor-label">
                    @Html.LabelFor(model => model.InvoiceNo)
                </div>
                <div class="editor-field">

                    @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "  form-control" })
                </div>
            </div>
            <div class="trk1_5">
                <div class="editor-label">
                    @Html.LabelFor(model => model.VendorName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.VendorName, new { @class = "  form-control" })
                </div>
            </div>

            <div class="trk_5">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Post)
                </div>
                <div class="editor-field">
                    <select id="Post" class="form-control">
                        <option value=""></option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </div>
            <div class="trk1_5">
                <div class="editor-label">
                    <label>Date From</label>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.InvoiceDateTimeFrom, new { @placeholder = "Date From", @class = "customDatePicker defaultDate form-control" })
                </div>
            </div>
            <div class="trk1_5">
                <div class="editor-label">
                    <label>Date To</label>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.InvoiceDateTimeTo, new { @placeholder = "Date To", @class = "customDatePicker defaultDate form-control" })
                </div>
            </div>
            <div class="trk1_5">
                <div class="editor-label">
                    <label>Branch Name</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDownFor(model => model.BranchId, "/Config/DropDown/BranchProfile", new { @class = " cBranchId form-control" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="editor-label">
                    <label>&nbsp;</label>
                </div>
                <div class="editor-field">
                    <button type="button" title="Click to Search" id="btnSearch" class="sym-btn-search">Search</button>
                    @*<button type="button" title="Clear Data" id="Clear" class=" sym-btn-clear">&nbsp;Clear</button>*@
                </div>
            </div>
        </div>

    </div>
    <p>&nbsp;</p>

    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">
                    <input type="checkbox" class="chkAll" />Select All
                </th>
                <th>Receive No</th>
                <th>Vendor Name</th>
                <th>Address</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Add New" data-url="/VMS/Client6_3Invoice/Create?TransactionType=@Model.TransactionType" onclick=" goto(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    @*<button type="button" title="Delete" data-url="/VMS/Toll6_3Invoice/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/VMS/Client6_3Invoice/_index?TransactionType=@Model.TransactionType",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,

            "fnServerData": function (sSource, aoData, fnCallback) {
                $('.dtSearch :input').each(function () {
                    var Name = $(this).attr("Id")
                    var Value = $(this).val()
                    aoData.push({ "name": Name, "value": Value });
                });


                $.getJSON(sSource, aoData, function (json) {
                    fnCallback(json);
                });
            },

            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "10%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ' '
                                        + '&nbsp; <a id=""  title="Click on for Edit"  style="text-decoration:none;"   href=\"/VMS/Client6_3Invoice/Edit?invNumber=' + oObj.aData[1] + '\" class=" innerListLink sym-btn-edit-row"></a>'
                                    //<input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">
                                    //+ '&nbsp; <a title="Click on for Delete"  data-url="/VMS/Toll6_3Invoice/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                                    ;
                                }
                             }
                            , { "sName": "Invoice No", "sWidth": "10%" }
                            , { "sName": "Customer", "sWidth": "10%" }
                            , { "sName": "Address", "sWidth": "10%" }
                            , { "sName": "Date", "sWidth": "10%" }
                            , { "sName": "Status", "sWidth": "10%" }


            ]
        });

        $('#btnSearch').click(function () {
            var model = $('.dtSearch :input').serialize();
            $.ajax({
                url: "/VMS/Client6_3Invoice/Index",
                cache: false,
                //data: model,
                success: function (html) {
                    oTable.fnDraw();
                }
            });
        });

        ////clearing fields
        $("#Clear").on('click', function () {
            $(".Dropdown").select2("val", "");
            $(".form-control").val("");
        });
    });
</script>

<script>



</script>
