@model VATViewModel.DTOs.NBRMaster
@using UIHelper.MVC
@using (Html.BeginForm("CreateEdit", "Service", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmService" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Operation)
    <input id="ConvFactor" type="hidden" />

    <div class="headrow">
        @if (Model.Operation == "update")
        {
            <button type="button" title="Update Data" onclick="SaveData()" class="sym-btn-update">&nbsp;Update</button>
            <label class="pull-right">Service > Edit</label>
        }
        else if (Model.Operation == "add")
        {
            <button type="button" title="Save Data" onclick="SaveData()" class="sym-btn-save">&nbsp;Save</button>
            <label class="pull-right">Service  > Create</label>
        }
        <button type="button" title="Go To Index" data-url="/VMS/Service" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>
        <button type="button" title="Add New Issue" data-url="/VMS/Service/Create" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>
    </div>

    <div>
        <div class="thinbox col-md-12 formDesign" style="margin-top:0px;margin-bottom:0px;">
            <div class="th_thinbox">
                @*<p>Service Price Declaration</p>*@
                <p>Item</p>
            </div>
            <div id="IssueDetail" class="row">


                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Group</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ProductType", "Service", new { @class = " form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        @*<label for="DItemNo">Product</label>*@
                        <label for="DItemNo">Search</label>
                    </div>
                    <div class="editor-field">
                        <input id="trItemNo" type="hidden" />
                        <input id="trItemName" type="hidden" />
                        @Html.SimpleDropDown("DItemNo", "/Config/DropDown/GetProductByType?type=Service", new { @class = "  trItemCode form-control  selectDropdown" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="EffectDate">Effect Date</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("EffectDate", "", new { @class = " trEffectDate customDatePicker defaultDate form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="Code">Code</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("PCode", null, new { @class = " cPCode  form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="Name">Name</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ProductName", null, new { @class = " cProductName  form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="editor-label">
                        <label for="HSCode">HS Code</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("HSCode", null, new { @placeholder = "HS Code", @class = " trHSCode   form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label">
                        <label for="UOM">UOM</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("UOM", null, new { @class = " trUOM  form-control", @readonly = "readonly" })
                    </div>
                </div>
                
                
                
            </div>

            

        </div>


        <div class="thinbox formDesign trkMY-0">
            <div class="th_thinbox">
                <p>Detail</p>
            </div>
            <div class="row trkMT10">
                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="UnitPrice">Base Price</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("UnitPrice", "0", new { @class = " trUnitPrice priceLen NumberCheck right  form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="Others">Others</label>
                    </div>
                    <div class="editor-field">
                        <input type="hidden" id="otherAmount" value="0">
                        <input type="hidden" id="vatAmount" value="0">
                        <input type="hidden" id="sdAmount" value="0">
                        <input type="hidden" id="bomId" value="">

                        @Html.TextBox("Others", "0", new { @class = " trOthers priceLen NumberCheck right form-control" })
                    </div>
                </div>
                <div class="trk_5">
                    <div class="editor-label">
                        <label>&nbsp;</label>
                        <input type="hidden" id="otherType" value="True">
                    </div>
                    <div class="editor-field">
                        <button type="button" class="btn trkbtn otherType">%</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="SalePrice">Sale Price</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("SalePrice", "0", new { @class = " trSalePrice priceLen NumberCheck right form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="SD">SD(%)</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("SD", null, new { @class = " trSD number right form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label for="VAT">VAT(%)</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("VAT", null, new { @class = " trVAT number right form-control", @readonly = "readonly" })
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="editor-label">
                        <label for="Comment">Comments</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextArea("Comment", "", new { @class = " trComments form-control" })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label">
                        <label>&nbsp;</label>
                    </div>
                    <div class="editor-field">
                        <div title="Add Detail" data-url="/Vms/Service/BlankItem" class="sym-btn-add-row AddRow" data-container="editorItemRows">&nbsp;Add</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="fixedParent">
                    @if (Model.NbrVMs != null)
                    {
                        <table class="trkFixTable" id="itemTable">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>UOM</th>
                                    <th>Base Price</th>
                                    <th>Other</th>
                                    <th>Other Amount</th>
                                    <th>SD Rate</th>
                                    <th>SD Amount</th>
                                    <th>VAT Rate</th>
                                    <th>VAT Amount</th>
                                    <th>Sale Price</th>
                                    <th>Comment</th>
                                    <th>Effect Date</th>
                                    <th>BOM Id</th>
                                </tr>
                            </thead>

                            <tbody id="editorItemRows">
                                @foreach (var item in Model.NbrVMs)
                                {
                                    Html.RenderPartial("_detail", item);
                                }
                            </tbody>
                        </table>
                    }
                </div>

                <hr />
            </div>



       </div>




        </div>

    <div class="headrow">
        @if (Model.Operation == "update")
        {
            <button type="button" title="Update Data" onclick="SaveData()" class="sym-btn-update">&nbsp;Update</button>
        }
        else if (Model.Operation == "add")
        {
            <button type="button" title="Save Data" onclick="SaveData()" class="sym-btn-save">&nbsp;Save</button>
        }
        <button type="button" title="Go To Index" data-url="/VMS/Service" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>
        <button type="button" title="Add New Petty Cash" data-url="/VMS/Service/Create" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>
    </div>
}
<div id="myModal" class="trkmodal"></div>
<div id="productDetails" class="trkmodal">
    <div class="trkmodal-content">
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

@*For accordion toggle*@
<script>
    $(function () {
        ////for counting discount amount based on % symbol
        MyToggleBox('otherType');
    });
</script>

@*For fixed table*@
<script>
    function fixedScrolltrkFixedTable(tableId, leftTotal) {
        $('#' + tableId + ' tbody').scroll(function (e) {
            var i;
            var j = 2;
            for (i = 1; i <= leftTotal; i++) {
                $('#' + tableId + ' tbody td:nth-child(' + i + ')').css("z-index", "1");
                $('#' + tableId + ' thead th:nth-child(' + i + ')').css("left", $("#" + tableId + " tbody").scrollLeft());

                $('#' + tableId + ' tbody td:nth-child(' + j + ')').css("z-index", "1");
                $('#' + tableId + ' tbody td:nth-child(' + j + ')').css("left", $("#" + tableId + " tbody").scrollLeft());
                $('#' + tableId + ' tbody td:nth-child(' + j + ')').css("left", $("#" + tableId + " tbody").scrollLeft());
                j++;
            }
            $('#' + tableId + ' thead').css("left", -$("#" + tableId + " tbody").scrollLeft());
            //$('#' + tableId + ' thead th:nth-child(2)').css("left", $("#" + tableId + " tbody").scrollLeft());

        });
    }
    function settingtrkFixedColumnWidth(tableId, widthArgs) {
        if (widthArgs == null) {
            return;
        }
        var i;
        var j = 2;
        for (i = 1; i <= widthArgs.length; i++) {
            $('#' + tableId + ' tr td:nth-child(' + j + ')').css("min-width", widthArgs[i - 1] + "px");
            $('#' + tableId + ' tr th:nth-child(' + i + ')').css("min-width", widthArgs[i - 1] + "px");
            j++;
        }
    }
    function fixLeftColumns(tableId, leftTotal) {
        var i;
        var j = 2;
        for (i = 1; i <= leftTotal; i++) {
            //fixed column header style
            $('#' + tableId + ' thead th:nth-child(' + i + ')').css("height", "40px");
            $('#' + tableId + ' thead th:nth-child(' + i + ')').css("position", "relative");
            $('#' + tableId + ' thead th:nth-child(' + i + ')').css("z-index", "2");
            //fixed column rows style
            $('#' + tableId + ' tbody tr td:nth-child(' + j + ')').css("height", "30px");
            $('#' + tableId + ' tbody tr td:nth-child(' + j + ')').css("position", "relative");
            j++;
        }
    }
    function settingWidth(tableId) {
        //var parentWidth = $('.fixedParent').width();
        var parentWidth = $('#' + tableId).closest('.fixedParent').width();
        $('#' + tableId + ' thead').width(parentWidth);
        $('#' + tableId + ' tbody').width(parentWidth);
    }
    function trkFixedTable(tableId, leftTotal, args) {
        settingWidth(tableId);
        fixLeftColumns(tableId, leftTotal);
        fixedScrolltrkFixedTable(tableId, leftTotal);
        settingtrkFixedColumnWidth(tableId, args);
    }
    function callingFixedTable() {
        var args = [100, 200, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 200, 200, 100];
        trkFixedTable("itemTable", 2, args);
    }
    $(function () {
        callingFixedTable();
    })
</script>

@*For Adding/Editing Detail table*@
<script>
    ////edit a row
    function EditItem(sender) {
        var itemCode = $(sender).closest('.tablerow').find('.dItemCode').val();
        var other = $(sender).closest('.tablerow').find('.dOther').val();
        var bomId = $(sender).closest('.tablerow').find('.dBOMId').val();
        $('#bomId').val(bomId);
        $('.trItemCode').select2("val", itemCode);
        $('.trOthers').val(other);
        ProductNameChange(itemCode);
        calculateWholeSale();

        $(sender).parents("tr:first").remove();
    }

    $(function () {

        ////clicking add button
        $('.AddRow').on("click", function () {

            var product = $('.trItemCode').val();
            if (product == "0" || product == "" || product == null) {
                ShowResult("Fail", "Select a product first!");
                return;
            }

            var costPrice = parseFloat($('.trUnitPrice').val().replace(/\,/g, ''));
            if (costPrice <= 0) {
                ShowResult("Fail", "Price can not be negative or zero!");
                $('.trUnitPrice').css('background-color', 'yellow');
                return;
            }

            var itemCode = $('.trProductCode').val();
            var count = 0;

            $('.dItemCode').each(function () {
                var existing = $(this).val();
                if (itemCode == existing) {
                    count++;
                }
            });

            if (count > 0) {
                ShowResult("Fail", "Item already exists!");
                return;
            }

            var container = $(this).attr('data-container');
            var url = $(this).attr('data-url');
            AddRow(container, url)
            return false;
        });

        ////add row method
        function AddRow(container, url) {
            var uomConv = 1;//unit conversion initial value

            //form fields
            var itemName = $('#trItemName').val();
            var productCode = $('.trItemCode').val();
            var itemNo = $('#trItemNo').val();
            var uomPrice = parseFloat($('.trUnitPrice').val().replace(/\,/g, ''));
            var uom= $('.trUOM').val();
            var hsCode = $('.trHSCode').val();
            var other = $('.trOthers').val();
            var otherAmount = $('#otherAmount').val();

            var sdAmount = $('#sdAmount').val();
            var nbrwithSD=uomPrice+sdAmount;
            var vatAmount = $('#vatAmount').val();

            var sdRate = $('.trSD').val();
            var vatRate = $('.trVAT').val();
            var wholeSalePrice = $('.trSalePrice').val();
            var comments = $('.trComments').val();
            var effectDate=$('.trEffectDate').val();
            var bomId = $('#BomId').val();

            var model = {
                FinishItemName:itemName,
                ItemNo: itemNo,
                FinishItemCode: productCode,
                UOM: uom,
                PNBRPrice: uomPrice,
                Other: other,
                OtherAmount: otherAmount,
                SDRate: sdRate,
                SDAmount: sdAmount,
                VATRate: vatRate,
                VatAmount: vatAmount,
                WholeSalePrice: wholeSalePrice,
                Comments: comments,
                EffectDate: effectDate,
                BOMId: bomId,
                NBRWithSDAmount: nbrwithSD,
            }
            $.ajax({
                data: model,
                url: url,
                cache: false,
                success: function (html) {
                    $("#" + container).append(html);
                    callingFixedTable();
                }
            });

            ////resetting values
            $('.trItemCode').select2("val", "");
            $('#trItemName').val("");
            $('.trItemCode').val("");
            $('#trItemNo').val("");
            $('.trUnitPrice').val("0");
            $('.trUOM').val("");
            $('.trHSCode').val("");
            $('.trOthers').val("0");
            $('#otherAmount').val("0");
            $('#sdAmount').val("0");
            $('#vatAmount').val("0");
            $('.trSD').val("");
            $('.trVAT').val("");
            $('.trSalePrice').val("0");
            $('.trComments').val("");
            $('#BomId').val("");

        }
    });
</script>

@*For showing Product deatails*@
<script>
    /////showing product details on pop up view
    function showProductDetail() {
        var productDetail = document.getElementById('productDetails');
        $(document).on("dblclick", '.tablerow', function () {
            var code = $(this).find('input.dItemCode').val();
            var url = "/Vms/Product/ShowProduct?code=" + code;
            $.ajax({
                url: url,
                cache: false,
                beforeSend: function () { $(".loading").show(); },
                complete: function () { $(".loading").fadeOut(200).hide("slow") },
                success: function (html) {
                    productDetail.style.display = "block";
                    $(".trkmodal-content").html(html);
                }
            });
        });
    }
    $(function () {
        //showProductDetail();
    });
</script>

@*For Service detail change*@
<script>
    ////product change method
    function ProductNameChange(productCode) {
        if (productCode == null) {
            $('.trUnitPrice').val("0");
            $('.trUOM').val("");
            $('.trHSCode').val("");
            return;
        }

        var effectDate = $(".trEffectDate").val();
        var url = "/Vms/Service/SelectProductDetails?productCode=" + productCode + "&IssueDate=" + effectDate;
        $.getJSON(url, function (data) {
            var code = data.split('~')[0];
            var uom = data.split('~')[1];
            var hscode = data.split('~')[2];
            var costPrice = data.split('~')[3];
            var stock = data.split('~')[4];
            var name = data.split('~')[5];
            var itemNo = data.split('~')[6];
            var SD = data.split('~')[7];
            var VAT = data.split('~')[8];

            $('#trItemName').val(name);
            $('#trItemNo').val(itemNo);

            var unitPrice = parseFloat($('.trUnitPrice').val());
            if (isNaN(unitPrice) || unitPrice <= 0) {
                $('.trUnitPrice').val(costPrice);
            }
            $('.trUOM').val(uom);
            $('.trHSCode').val(hscode);
            $('.trSD').val(SD);
            $('.trVAT').val(VAT);

            $('.cPCode').val(code);
            $('.cProductName').val(name);


            calculateWholeSale();
        });
    }

    $(function () {

        ////changing product category
        $('.trItemCode').change(function () {
            var productCode = $(this).val();
            ProductNameChange(productCode);
        });
    })
</script>

@*For Saving Data*@
<script>
    function SaveData() {
        var items = $(".dItemName").length;
        if (items == 0) {
            ShowResult("Fail", "Please Add Product Details!");
            return;
        }
        pageSubmit('frmService');
    }
</script>

@*For calculating whole sale price*@
<script>
        function calculateWholeSale() {
            var basePrice = parseFloat($('.trUnitPrice').val());
            var otherType = $('#otherType').val();
            var otherVal = parseFloat($('.trOthers').val());
            var otherAmount;
            if (otherType == "True") {
                otherAmount = basePrice * otherVal / 100;
            }
            else {
                otherAmount = otherVal;
            }
            var sdRate = parseFloat($('.trSD').val());
            var vatRate = parseFloat($('.trVAT').val());

            var sdAmount = basePrice * sdRate / 100;
            var sdPrice=basePrice+sdAmount;
            var vatAmount = sdPrice * vatRate / 100;
            var totalPrice = basePrice + sdAmount + vatAmount + otherAmount;
            ///setting hidden field values
            $('#otherAmount').val(otherAmount);
            $('#sdAmount').val(sdAmount);
            $('#vatAmount').val(vatAmount);
            ///setting whole sale value
            $('.trSalePrice').val(totalPrice);

        }
        $(function () {
            $('.otherType').click(function () {
                var basePrice = parseFloat($('.trUnitPrice').val());
                if (isNaN(basePrice)) {
                    ShowResult("Fail", "Select a product first!");
                    return;
                }
                calculateWholeSale();
            });
            $('.trOthers').blur(function () {
                calculateWholeSale();
            });
            $('.trUnitPrice').blur(function () {
                calculateWholeSale();
            });
        })
    </script>
}