@model SymViewModel.Payroll.GradeVM
@using UIHelper.MVC
@{

    ViewBag.Title = "Create";
    ViewBag.Location = "Create"; 
}

@using (Html.BeginForm("Create", "Grade", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmGrade" }))
{
    @Html.ValidationSummary(true)
    <div class="thinbox">
        <div class="EnumGrade">
            <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.Code)
                </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Code, new {@placeholder = "Grade Code", @class ="required form-control" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.Name)
                </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Name, new {@placeholder = "Grade Name", @class ="required form-control" })

                </div>
            </div>
               <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.MinSalary)
                </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.MinSalary, new {@placeholder = "Minimum Salary", @onchange="ValueCheck(this)", @class =" right required form-control" })

                </div>
            </div>
               <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.MaxSalary)
                </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.MaxSalary, new {@placeholder = "Maximum Salary", @onchange="ValueCheck(this)", @class =" right required form-control" })

                </div>
            </div>
            <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.Remarks)
                </label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.Remarks, new {@placeholder = "Remarks", @class ="form-control" })
                        @Html.ValidationMessageFor(model => model.Remarks)
                </div>
            </div>

            
 <div class="row">
            <label class="col-sm-3">
				  <button type="button" title="Save Data" onclick="pageSubmit('frmGrade');" class="sym-btn-save">&nbsp;Save</button>
            </label>
            <label class="col-sm-4">
			 <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
            </label>
        </div>
        </div>
    </div>
}
    <script>
        $(function () {
            valiDation("frmGrade");
        });

        function ValueCheck(sender) {
            var maxSalary = parseFloat($('#MaxSalary').val());
            var minSalary = parseFloat($('#MinSalary').val());
            if (maxSalary != '') {
                if (maxSalary < minSalary) {
                    ShowResult("Fail", "Max Salary can't be less than Min Salary!");
                    $(sender).val("");
                }
            }
        }
    </script>