@model VATViewModel.DTOs.TollProductionConsumptionDetailVM
@using UIHelper.MVC
@{
    Layout = null;
}
<tr class="tablerow">
    @using (Html.BeginCollectionItem("Details"))
    {
        <td>
            <a id="" title="Click to Remove" onclick="RemoveItem(this);" class="sym-btn-remove-row "></a>
            <a id="" title="Click to Edit" onclick="EditItem(this);" class="sym-btn-edit-row"></a>
        </td>
        <td>
            @Html.TextBoxFor(model => model.ProductName, new { @class = "  dItemName   form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.HiddenFor(m => m.ItemNo, new { @class = "dItemNo" })
            @Html.TextBoxFor(model => model.ProductCode, new { @class = "  dProductCode   form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.UOM, new { @class = "  dUOM   form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.Quantity, new { @class = "  dQuantity right priceLen  form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.UnitCost, new { @class = "  dUnitPrice right priceLen  form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.SubTotal, new { @class = "  dSubTotal right priceLen  form-control", @readonly = "readonly" })
        </td>

        <td>
            @Html.TextBoxFor(model => model.UOMc, new { @class = "  dConvFactor   form-control", @readonly = "readonly" })
        </td>
       
        <td>
            @Html.TextBoxFor(model => model.BomId, new { @class = "  dBOMId   form-control", @readonly = "readonly" })
        </td>
        
         @Html.HiddenFor(m => m.UOMn, new { @class = "" })
    }
</tr>
