@model VATViewModel.DTOs.PurchaseDetailVM
@using UIHelper.MVC
@{
    Layout = null;
}

<style>
    .trkmodal {
        padding-top: 10%;
    }

    .trkmodal-content {
        width: 44%;
        padding-bottom: 10px;
    }

    .customDatePicker {
        background: #fefede url(/Images/calendar.jpg) no-repeat 98% !important;
    }
    /*no padding with little margin bttom*/
    div.trkmodal-body div.npForm {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 0px !important;
        margin-bottom: 10px;
        
    }

        div.trkmodal-body div.npForm div.npForm {
            margin-bottom: 0px !important;
        }
</style>

<div class="trkmodal-content">
    <div class="trkmodal-header">
        <span class="close">&times;</span>
        <h2 class="text-center">Previous Invoice Information</h2>
    </div>
    <div class="trkmodal-body">
        @using (Html.BeginForm("PopUpPreviousPurchase", "Purchase", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "PopUpPreviousPurchase" }))
        {
            @Html.Hidden("PreviousSDAmount", "", new { @class = " cPreviousSDAmount" })
            @Html.Hidden("PreviousVATAmount", "", new { @class = " cPreviousVATAmount" })
            @Html.Hidden("PreviousSubTotal", "", new { @class = " cPreviousSubTotal" })
            
            @Html.Hidden("UOM", "", new { @class = " cUOM" })
            @Html.Hidden("Quantity", "", new { @class = " cQuantity" })
            @Html.Hidden("NBRPrice", "", new { @class = " cNBRPrice" })
            @Html.Hidden("UnitPrice", "", new { @class = " cUnitPrice" })
            @Html.Hidden("NBRPrice", "", new { @class = " cNBRPrice" })
            @Html.Hidden("SubTotal", "", new { @class = " cSubTotal" })
            @Html.Hidden("SD", "", new { @class = " cSD" })
            @Html.Hidden("SDAmount", "", new { @class = " cSDAmount" })
            @Html.Hidden("VATRate", "", new { @class = " cVATRate" })
            @Html.Hidden("VATAmount", "", new { @class = " cVATAmount" })
            @Html.Hidden("Total", "", new { @class = " cTotal" })
            @Html.Hidden("Type", "", new { @class = " cType" })
            @Html.Hidden("UOMPrice", "", new { @class = " cUOMPrice" })
            @Html.Hidden("UOMc", "", new { @class = " cUOMc" })
            @Html.Hidden("UOMn", "", new { @class = " cUOMn" })
            @Html.Hidden("UOMQty", "", new { @class = " cUOMQty" })
            @Html.Hidden("ATAmount", "", new { @class = "cUOMQty" })
            @Html.Hidden("TVBAmount", "",  new { @class = " dTVBAmount" })
            @Html.Hidden("TVAAmount", "",  new { @class = " dTVAAmount" })
            @Html.Hidden("NBRPrice", "",  new { @class = " dNBRPrice" })
            @Html.Hidden("ItemNo", "", new { @class = " dItemNo" })
            @Html.Hidden("Comments", "",  new { @class = " dRemarks" })
            @Html.Hidden("DutyRemarks", "",  new { @class = " dDutyRemarks" })
            @Html.Hidden("RebateRate", "",  new { @class = " dRebateRate" })
            @Html.Hidden("TransactionType", "", new { @class = " cTransactionType" })





            <div class="row">
                <div class="npForm col-md-6">
                    <label>Product Code</label>

                    @Html.TextBox("ProductCode", "", new { @placeholder = "Product Code", @class = " cProductCode form-control", @readonly = "readonly" })

                </div>
                <div class="npForm col-md-6">
                    <label>Product Name</label>

                    @Html.TextBox("ProductName", "", new { @placeholder = "Product Name", @class = " cProductName form-control", @readonly = "readonly" })

                </div>
            </div>


            <div class="row">
                <div class="npForm col-md-6">
                    <label>Invoice No</label>

                    @Html.TextBox("PurchaseReturnId", "", new { @placeholder = "Invoice No", @class = " cPreviousSalesInvoiceNoD form-control" })

                </div>
                <div class="npForm col-md-6">
                    <label>Invoice DateTime</label>

                    @*@Html.TextBox("PreviousInvoiceDateTime", "", new { @placeholder = "PreviousInvoiceDateTime", @class = " cPreviousInvoiceDateTime customDatePicker form-control" })*@
                    @Html.TextBox("PreviousInvoiceDateTime", "", new { @placeholder = "Invoice DateTime", @class = " cInvoiceDateTime customDatePicker defaultDate form-control", @Id = "idInvoiceDateTime" })

                </div>
            </div>
            
            
            <div class="row">
                <div class="npForm col-md-6">
                    <label>NBRPrice</label>

                    @Html.TextBox("PreviousNBRPrice", "", new { @placeholder = "PreviousNBRPrice", @class = " cPreviousNBRPrice  form-control" })

                </div>
                <div class="npForm col-md-6">
                    <label>Quantity</label>

                    @Html.TextBox("PreviousQuantity", "", new { @placeholder = "PreviousQuantity", @class = " cPreviousQuantity  form-control" })

                </div>
            </div>
            
            
            <div class="row">
                <div class="npForm col-md-6">
                    <label>UOM</label>
                    @Html.TextBox("PreviousUOM", "", new { @placeholder = "PreviousUOM", @class = " cPreviousUOM  form-control" })
                </div>
                <div class="npForm col-md-6">
                    <label>VATRate(%)</label>

                    @Html.TextBox("PreviousVATRate", "", new { @placeholder = "PreviousVATRate", @class = " cPreviousVATRate  form-control" })

                </div>
            </div>
           
            
            <div class="row">
                <div class="npForm col-md-6">
                    <label>SD</label>

                    @Html.TextBox("PreviousSD", "", new { @placeholder = "PreviousSD", @class = " cPreviousSD  form-control" })

                </div>
                <div class="npForm col-md-6">
                    <label>ReasonOfReturn</label>

                    @Html.TextBox("ReasonOfReturn", "", new { @placeholder = "Reason Of Return", @class = " cReasonOfReturn  form-control" })

                </div>
            </div>
            
            
            
            
            <button type="button" class=" btn sym-btn-update trAdd btnUpdate "> Update</button>
            @*<button type="button" class="sym-btn-close closeBtn pull-right"> Close</button>*@
        }
    </div>
</div>


<script src="~/assets/javascripts/custom.js"></script>
<script>

    $(document).ready(function () {
        //$('#frmExpFromNo').submit();

        function closeModal() {
            $("#myHigherModal").html("");
            trkmodal.style.display = "none";
        }

        var span = document.getElementsByClassName("close")[0];
        var trkmodal = document.getElementById('myHigherModal');
        //When the user clicks on <span> (x), close the trkmodal
        span.onclick = function () {
            //closeModal();
            PreviousInvoiceInformation();
        }

        //$('.closeBtn').click(function () {
        //    closeModal();
        //});

        $('.btnUpdate').click(function () {

            PreviousInvoiceInformation();

        });

        function PreviousInvoiceInformation() {
            var model = $('.trkmodal-body :input').serialize();

            ////console.log(model);

            callbackPreviousSalesModal(model);

            closeModal();
        }



    });
</script>

<script>
        $(function () {

            valiDation("PopUpPreviousPurchase");
            
        });
</script>

