@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}
<div class="content white menuheight">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--/.navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if (identity.IsAdmin)
                {
                    <li class="Home dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (identity.IsAdmin)
                            {
                                <li><a class="btn btn-info" href="/Common/Home/">Admin</a></li>
                            }
                            <li><a class="btn btn-info" href="/HRM/Home/">HRM</a></li>
                            @*<li><a class="btn btn-info" href="/Attendance/Home/">Leave & Attendance</a></li>*@

                            @* <li><a class="btn btn-info" href="/PharmaRaw/Home/">Pharma Raw</a></li>*@
                            <li><a class="btn btn-info" href="/Payroll/Home/">Payroll</a></li>
                            <li><a class="btn btn-info" href="/TAX/Home/">TAX</a></li>
                            <li><a class="btn btn-info" href="/PF/Home/">PF</a></li>
                            <li><a class="btn btn-info" href="/GF/Home/">GF</a></li>
                            @*                                   <li><a class="btn btn-info" href="/TAX/Home/">TAX</a></li>
                                  <li><a class="btn btn-info" href="/Attendance/Home/">Attendance</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown Structure">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Structure <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li><a class="btn btn-info" href="/Common/LeaveStructure">Leave Policy</a></li>
                                        <li><a class="btn btn-info" href="/Common/AttendanceStructure">Attendance Policy </a></li>
                                        <li><a class="btn btn-info" href="/Common/EarningDeductionStructure">Earning Deduction Policy </a></li>
                                        @*<li><a class="btn btn-info" href="/Common/AttendanceMigration">Attendance Migration</a></li>*@
                                        @*<li><a class="btn btn-info" href="/Common/AttendanceDaily">Attendance Daily </a></li>*@
                                        @*<li><a class="btn btn-info" href="/Common/DownloadData">Download Data </a></li>*@
                                        <li><a class="btn btn-info" href="/Common/Group">Employee Group </a></li>
                                        @*<li><a class="btn btn-info" href="/Common/Roster">Roster</a></li>*@
                                        <li><a class="btn btn-info" href="/Common/AttendanceRosterAll">Attendance Roster</a></li>
                                        <li><a class="btn btn-info" href="/Common/AttendanceMigrateProcess">Attendance Migrate Process</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown Leave">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leave <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li><a class="btn btn-info" href="/Common/LeaveMigration">Leave Migration</a></li>
                                        <li><a class="btn btn-info" href="/Common/LeaveMigration/OpeningBalance">Opening Balance (Multi)</a></li>
                                        <li><a class="btn btn-info" href="/Common/LeaveMigration/OpeningBalanceSingle">Opening Balance (Single)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown Absence">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Absence <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li><a class="btn btn-info" href="/Common/EmployeeDailyAbsence?tType=Absence">Daily Absence</a></li>
                                        <li><a class="btn btn-info" href="/Common/EmployeeDailyAbsence?tType=LateIn">Daily LateIn</a></li>
                                        <li><a class="btn btn-info" href="/Common/EmployeeDailyAbsence?tType=EarlyOut">Daily EarlyOut</a></li>
                                        <li><a class="btn btn-info" href="/Common/EmployeeMonthlyAbsence">Monthly (Absence-LateIn-EarlyOut)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown Overtime">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Overtime <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li><a class="btn btn-info" href="/Common/EmployeeDailyOvertime">Daily Overtime</a></li>
                                        <li><a class="btn btn-info" href="/Common/EmployeeMonthlyOvertime">Monthly Overtime</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown Process">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Process <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li><a class="btn btn-info" href="/Common/AttendanceMigration/SelectToInsertView">Attendance Migration</a></li>
                                        <li><a class="btn btn-info" href="/Common/AttendanceMigration/SelectFromDownloadData">Attendance Migration (From M/C)</a></li>
                                        <li><a class="btn btn-info" href="/Common/DailyAttendanceProcess">Update Daily Attendance</a></li>
                                        <li><a class="btn btn-info" href="/Common/MonthlyAttendance">Monthly Attendance</a></li>

                                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">More Process </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown btn btn-info" href="/Common/DailyAttendanceProcess/CalendarProcess">Calendar Process</a></li>
                                                <li><a class="dropdown btn btn-info" href="/Common/DailyAttendanceProcess/Process1">Attendance Daily To Daily OT and Absence</a></li>
                                                <li><a class="dropdown btn btn-info" href="/Common/DailyAttendanceProcess/Process2">Attendance Daily To Monthly OT and Absence</a></li>
                                                <li><a class="dropdown btn btn-info" href="/Common/DailyAttendanceProcess/Process3">Daily OT and Absence To Monthly OT and Absence</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="btn btn-info" href="/Attendance/EmployeeWeeklyHoliday">Employee Weekly Holiday</a></li>

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown Recruitment">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recruitment <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">Pre Employement Information</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown btn btn-info" href="/Common/PreEmployementInformation/">Entry</a></li>
                                                @*<li><a class="dropdown btn btn-info" href="/Common/PreEmployementInformation/Report">Report</a></li>*@
                                            </ul>
                                        </li>
                                        <li><a class="btn btn-info" href="/Common/JobCircular">JobCircular</a></li>
                                        <li><a class="btn btn-info" href="/Common/PublicApplicant">Public Applicant</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="User"><a href="/Common/User/">User </a></li>
                    <li class="dropdown Setup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">


                                    <ul class="multi-column-dropdown">

                                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">Master Data</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="btn btn-info" href="/Common/Department">@Session["DepartmentLabel"]</a></li>
                                                <li><a class="btn btn-info" href="/Common/Designation">Designation</a></li>
                                                <li><a class="btn btn-info" href="/Common/Bank">Bank</a></li>
                                                <li><a class="btn btn-info" href="/Common/Asset">Asset</a></li>
                                                <li><a class="btn btn-info" href="/Common/Branch">Branch</a></li>
                                                <li><a class="btn btn-info" href="/Common/Project">@Session["ProjectLabel"]</a></li>
                                                <li><a class="btn btn-info" href="/Common/Section">@Session["SectionLabel"]</a></li>
                                                <li><a class="btn btn-info" href="/Common/Grade">Salary Grade</a></li>


                                            </ul>
                                        </li>


                                        <li><a class="btn btn-info" href="/Common/HoliDay">Holiday</a></li>
                                        <li><a class="btn btn-info" href="/Common/FiscalYear">Fiscal Year</a></li>
                                        <li><a class="btn btn-info" href="/Common/Settings">Settings</a></li>

                                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">User</a>
                                            <ul class="dropdown-menu">
                                                @*<li><a class="btn btn-info" href="/Common/SymUserRoll">SymUserRoll</a></li>*@
                                                <li><a class="btn btn-info" href="/Common/UserGroup">User Group</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">Other Info</a>
                                            <ul class="dropdown-menu">
                                                @if (Session["LabelOther1"].ToString() != "")
                                                {
                                                    <li><a class="btn btn-info" href="/Common/OtherInfo?infoType=Other1">@Session["LabelOther1"]</a></li>
                                                }
                                                @if (Session["LabelOther2"].ToString() != "")
                                                {
                                                    <li><a class="btn btn-info" href="/Common/OtherInfo?infoType=Other2">@Session["LabelOther2"]</a></li>
                                                }
                                                @if (Session["LabelOther3"].ToString() != "")
                                                {
                                                    <li><a class="btn btn-info" href="/Common/OtherInfo?infoType=Other3">@Session["LabelOther3"]</a></li>
                                                }
@*<li><a class="btn btn-info" href="/Common/OtherInfo?infoType=Other5">Department</a></li>*@
                                            </ul>
                                        </li>

                                        <li><a class="DBUpdate btn btn-info" href="/Common/DBUpdate/DBUpdate">DB Update </a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    
                    //<li class="DBUpdate"><a href="/Common/Company/DBUpdate">DB Update </a></li>
                }
                <li class="dropdown Structure">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu columns-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown"><a href="/Common/EmployeeMonthlyOvertime/Report" class="btn btn-info">Employee Monthly Overtime </a></li>
                                    <li class="dropdown"><a href="/Common/EmployeeDailyOvertime/Report" class="btn btn-info">Employee Daily Overtime </a></li>
                                    <li class="dropdown"><a href="/Common/EmployeeMonthlyAbsence/Report" class="btn btn-info">Employee Monthly Absence </a></li>
                                    <li class="dropdown"><a href="/Common/EmployeeDailyAbsence/Report" class="btn btn-info">Employee Daily Absence </a></li>
                                    <li class="dropdown"><a href="/Common/DailyAttendanceProcess/Report" class="btn btn-info">Daily Attendance </a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="border-left: 5px solid #fff">
                <li class="dropdown1">
                    <a href="#" class="dropdown-toggle sym-btn-back" title="Go Back" onclick="goBack()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;Back</a>
                </li>
                <li class="dropdown1">
                    <a href="#" class="dropdown-toggle btn btn-warning" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin </a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
</div>
<style>
    .navbar-default .navbar-nav > li.dropdown:hover > a,
    .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
    .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
        /*background-color: rgb(231, 231, 231);*/
        color: rgb(85, 85, 85);
    }

    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>
