@model VATViewModel.DTOs.TransferMPLIssueDetailVM
@using UIHelper.MVC
@{
    Layout = null;
}
<tr class="tablerow ">
    @using (Html.BeginCollectionItem("TransferMPLIssueDetailVMs"))
    {
        <td>
            @Html.TextBoxFor(model => model.ProductCode, new { @class = "  dProductCode   form-control", @readonly = "readonly" })
        </td>

        <td>
            @Html.TextBoxFor(model => model.ProductName, new { @class = "  dItemName   form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.UOM, new { @class = "  dUOM   form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.CostPrice, "{0:N2}", new { @class = "  dCostPrice right  form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.UOMc, "{0:N2}", new { @class = "  dUOMc right  form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.RequestedQuantity, "{0:N2}", new { @class = "  dRequestedQuantity NumberCheck  right form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.RequestedVolumn, "{0:N2}", new { @class = "  dRequestedVolumn NumberCheck  right form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.Quantity, "{0:N2}", new { @class = "  dQuantity NumberCheck  right form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.UOMQty, "{0:N2}", new { @class = "  dUOMQty NumberCheck  right form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.SubTotal, "{0:N2}", new { @class = "  dSubTotal NumberCheck   right form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.TankCode, new { @class = "  dTankCode   form-control", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.Temperature, "{0:N2}", new { @class = "  dTemperature NumberCheck   right    form-control"})
        </td>
        <td>
            @Html.TextBoxFor(model => model.SP_Gravity, "{0:N2}", new { @class = "  dSP_Gravity NumberCheck   right    form-control"})
        </td>
        <td>
            @Html.TextBoxFor(model => model.QtyAt30Temperature, "{0:N2}", new { @class = "  dQtyAt30Temperature  NumberCheck   right   form-control" })
        </td>

        @Html.HiddenFor(m => m.TankId, new { @class = "dTankId" })
        @Html.HiddenFor(m => m.TransferTo, new { @class = "dTransferTo" })
        @Html.HiddenFor(m => m.ItemNo, new { @class = "dItem_No" })
        @Html.HiddenFor(m => m.TransferDateTime, new { @class = "dTransferDateTime" })
        @Html.HiddenFor(m => m.TransferMPLIssueId, new { @class = "TransferMPLIssueId" })
        @Html.HiddenFor(m => m.RequestedQuantity, new { @class = "dRequestedQuantity" })
        @Html.HiddenFor(m => m.TransactionType, new { @class = "dTransactionType" })

    }
</tr>

<style>
    .btnSize {
        font-size: 1em !important;
    }
</style>
