@model IEnumerable<VATViewModel.DTOs.CustomerAddressVM>
@using UIHelper.MVC
@{
    Layout = null;
    var sl = 1;
}
@foreach (var customer in Model)
{
    <tr class="trSelectPopUpCustomerAddress">
        <td>@sl</td>
        <td class="">@customer.CustomerGroupName</td>
        <td class=" popUpCustomerCode">@customer.CustomerCode</td>
        <td class="popUpCustomerName" title="@customer.CustomerName">@customer.CustomerName</td>
        <td class="popUpCustomerAddress" title="@customer.CustomerAddress">@customer.CustomerAddress</td>
        <td class="">@customer.CustomerVATRegNo</td>
        <td hidden class=" popUpCustomerId">@customer.CustomerID</td>
        @{
    sl++;
        }
    </tr>
}
