@model SymViewModel.Sage.GLReportVM
@using UIHelper.MVC
@using SymOrdinary
@using System.Threading;
@{ 
    
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Sage/Home/Login");
        return;
    }
}


<div class="th_thinbox">
    <p>(03) Petty Cash Date Range(Multiple Year) - Single Head Amount</p>
</div>
<div class="PettyCashDetailsBar">
    <div class="row">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchId)
            </div>
        </div>
        <div class="col-md-8">
            <div class="editor-field">
                @if (identity.IsAdmin || identity.IsAuditor)
                {
 @Html.SimpleDropDown("BranchId", "/Config/DropDown/GL_GLBranchAll", new { @Id = "bidPC3", @class = "branchIdPC3 form-control selectDropdown" })
                }
                else
                {
 @Html.SimpleDropDownFor(model => model.BranchId, "/Config/DropDown/GL_GLBranch", new { @Id = "bidPC3", @class = "branchIdPC3 form-control ", @disabled = "disabled" })
                }
                @Html.ValidationMessageFor(model => model.BranchId)
                @Html.HiddenFor(model => model.BranchId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.Label("", "Expense Head")
            </div>
        </div>
        <div class="col-md-8">
            <div class="editor-field">
                @if (identity.IsAdmin || identity.IsAuditor)
                {
                    @Html.SimpleDropDown("DAccountIdAll", "//", new { @class = "AccountIdPC3  form-control selectDropdown" })
                }
                else
                {
                    @Html.SimpleDropDown("DAccountId", "/Config/DropDown/GL_GLAccount?FormName=PCFormDebit", new { @class = "AccountIdPC3  form-control selectDropdown" })
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.DateFrom)
            </div>
        </div>
        <div class="col-md-8">
            <div class="editor-field">
                @Html.TextBox("DateFromPC3", null, new { @placeholder = "Date From", @class = "dtFromPC3 customDatePicker form-control" })
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.DateTo)
            </div>
        </div>
        <div class="col-md-8">
            <div class="editor-field">
                @Html.TextBox("DateToPC3", null, new { @placeholder = "Date To", @class = "dtToPC3 customDatePicker form-control" })
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
        <button title="Click to Show Petty Cash Date Range(Multiple Year) - Single Head Amount" id="" class=" searchBtnPC3 sym-btn-search">&nbsp;Search</button>
    </div>
    <hr />

    <div class="row">
        <div class="container  col-md-12 ">
            <h2 class="card-header ">Petty Cash Details</h2>
            <div class="card-block">
                <canvas id="BarChartPC3" height="20" width="20"></canvas>
            </div>
        </div>
    </div>

</div>

<script>
    $(".searchBtnPC3").click(function () {
        SearchingPC3();
    });

    function SearchingPC3() {
        var DateFrom = $(".dtFromPC3").val();
        var DateTo = $(".dtToPC3").val();
        var AccountId = $(".AccountIdPC3 :selected").val();

        if (AccountId == "") {
            ShowResult("Fail", "Please Select Account First!");
            return;
        }

        Obj = new Object();

        Obj.DateFrom = DateFrom;
        Obj.DateTo = DateTo;
        Obj.AccountId = AccountId;
        var Param = $.param(Obj);

        loadsbarPC3(Param);
    }

</script>

<script>
    function loadsbarPC3(Param) {

        backgroundColor = bkColor();

        //url = url + "?" + Param;
        $('#BarChartPC3').html("");
        var labels = [];
        var datas = [];
        $.ajax({
            url: "/Sage/Home/PettyCashChart3" + "?" + Param,
            type: 'GET',
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (data) {
                $.each(data, function (index, value) {
                    labels.push(value.Year + '=>' + value.TransactionAmount);
                    datas.push(value.TransactionAmount);
                });

                var ctx = document.getElementById("BarChartPC3").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Year ',
                            data: datas,
                            backgroundColor: backgroundColor
                        }]
                    }
                });
            },
        });

    }
</script>
<script>
    $(function () {
        $('.branchIdPC3').change(function () {
            AccountLoadPC3();
        });
    });

    function AccountLoadPC3() {
        $(".AccountIdPC3").select2("val", '');
        $('select.AccountIdPC3').html("");
        var AccountIdDropDown = "";
        var BranchId = $(".branchIdPC3 :selected").val();

        var url = "/Config/DropDown/GL_GLAccountAll?FormName=PCFormDebit&BranchId=" + BranchId;
        AccountIdDropDown += "<option value=''>Select</option>";

        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (data) {
                $.each(data, function (i, state) {
                    AccountIdDropDown += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('select.AccountIdPC3').html(AccountIdDropDown);
                $(".AccountIdPC3").select2("val", '');
            },
        });
    }
</script>
