@model SymViewModel.Sage.GLUserVM
@using UIHelper.MVC
@{

    ViewBag.Title = "Create";
    ViewBag.Location = "Create";
    Layout = "~/Areas/Sage/Views/Shared/_loginLayout.cshtml";
}

@using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmForgetPassword" }))
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="thinbox">
                <div class="EnumForgetPassword">
                    <div class="row">
                        <label class="col-sm-3">
                            @Html.LabelFor(model => model.LogId)
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.LogId, new { @placeholder = "Log Id", @class = "required form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3">
                            @Html.LabelFor(model => model.Email)
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "required form-control" })
                        </div>
                    </div>
                    <br />

                    <div class="row">
                         &nbsp;<button type="button" title="Reset Password" onclick="pageSubmit('frmForgetPassword');" class="sym-btn-refresh">&nbsp;Reset Password</button>
                         &nbsp;<button type="button" title="Go To Login" data-url="/Sage/Home/Login" onclick="GoTo(this)" class="sym-btn-back">&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        valiDation("frmForgetPassword");
    });

</script>
