@model System.Data.DataTable
@using UIHelper.MVC
@{
    Layout = null;
}

@foreach (System.Data.DataRow dr in Model.Rows)
{
    <tr class="trSelectPopUpProduct">
        @*<td>

            @Html.CheckBox("Selected", Convert.ToBoolean(dr["Selected"]), new { @style = "margin: auto", @class = "dSelected form-control" })
        </td>*@
        @*<td>
            &nbsp; <button title="Click on for Detail" onclick="IntegrationShowDetail(this)" class="sym-btn-detail-row"></button>

        </td>*@
        @*<td class="dPost">@dr["Post"]</td>*@
        @*<td class="dPrint">@dr["IsPrint"]</td>*@
        @*<td class="dInvoiceNo">@dr["InvoiceNo"]</td>*@
        <td class="dID">@dr["ID"]</td>
        <td class="dReferenceNo">@dr["Reference_No"]</td>
        <td>@dr["Branch_Code"]</td>ik
        <td>@dr["Customer_Name"]</td>
        <td>@dr["Customer_Code"]</td>
        <td>@dr["Invoice_Date_Time"]</td>
        <td>@dr["Delivery_Address"]</td>
        <td>@dr["Vehicle_No"]</td>
        <td>@dr["VehicleType"]</td>
        <td>@dr["NBR_Price"]</td>
        <td>@dr["Quantity"]</td>
        @*<td>@dr["TotalVATAmount"]</td>*@
        @*<td>@dr["Processed"]</td>*@
    </tr>
}
