@model System.Data.DataTable
@using UIHelper.MVC
@{
    Layout = null;
}

@foreach (System.Data.DataRow dr in Model.Rows)
{
    <tr class="trSelectPopUpProduct">
        <td>

            @Html.CheckBox("Selected", Convert.ToBoolean(dr["Selected"]), new { @style = "margin: auto", @class = "dSelected form-control" })
        </td>
        <td>
            &nbsp; <button title="Click on for Detail" onclick="IntegrationShowDetail(this)" class="sym-btn-detail-row"></button>

        </td>
        <td class="dPost">@dr["Post"]</td>
        <td class="dPrint">@dr["IsPrint"]</td>
        <td class="dInvoiceNo">@dr["InvoiceNo"]</td>
        <td class="dID">@dr["ID"]</td>
        <td class="dReferenceNo">@dr["ReferenceNo"]</td>
        <td>@dr["BranchCode"]</td>
        <td>@dr["CustomerName"]</td>
        <td>@dr["CustomerCode"]</td>
        <td>@dr["InvoiceDateTime"]</td>
        <td>@dr["DeliveryAddress"]</td>
        <td>@dr["VehicleNo"]</td>
        <td>@dr["VehicleType"]</td>
        <td>@dr["TotalValue"]</td>
        <td>@dr["TotalQuantity"]</td>
        <td>@dr["TotalVATAmount"]</td>
        <td>@dr["Processed"]</td>
    </tr>
}
