@model SymVATWebUI.Areas.VMS.Models.Vat16ViewModel
@using System.Configuration
@using UIHelper.MVC
@{
    Layout = null;
}

<style>
    .trkmodal{
        padding-top:10%;
    }
    .trkmodal-content {
        width: 50%;
        padding-bottom: 15px;
    }
    .customDatePicker {
        background: #fefede url(/Images/calendar.jpg) no-repeat 98% !important;
    }
    /*no padding with little margin bttom*/
    div.trkmodal-body div.npForm {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        margin-bottom: 10px;
    }

    div.trkmodal-body div.npForm div.npForm {
        margin-bottom: 0px !important;
    }
    .cIsMonthly {
        margin-left: 18px !important;
    }

</style>

@{
    string NBRAuth = "";

    try
    {
        NBRAuth = new AppSettingsReader().GetValue("NBRAuth", typeof(string)).ToString();

    }
    catch (Exception e)
    {
        NBRAuth = "";

    }

}

<div class="trkmodal-content">
    <div class="trkmodal-header">
        <span class="close">&times;</span>
        <h2 class="text-center">Report(VAT 6.2) Sale Register</h2>
    </div>
    <div class="trkmodal-body">
    @using (Html.BeginForm("ReportVAT17", "NBRReport", FormMethod.Post, new { enctype = "multipart/form-data", @target = "_blank", @Id = "frmVAT17" }))
    {
        <div class="npForm col-md-12">
            <div class="col-md-10 npForm">
                <label>Product Name</label>
                @Html.HiddenFor(m => m.ItemNo, new { @class = " popUpItemNo" })
                @Html.TextBox("PopUpProductName", null, new { @class = " form-control trProductName", @readonly = "readonly" })
            </div>
            <div class=" col-md-2 npForm">
                <label>&nbsp;</label>
                <button type="button" class=" sym-btn-search productBtn">Search</button>
            </div>
        </div>
    <div class="npForm col-md-6" style="padding-left:0px;">
        <label>Date From</label>
        @Html.TextBoxFor(m => m.StartDate, new { @placeholder = "Start Date", @class = "customDatePicker form-control defaultDate" })
    </div>
    <div class="npForm col-md-6" style="padding-right:0px;">
        <label>Date To</label>
        @Html.TextBoxFor(m => m.EndDate, new { @placeholder = "End Date", @class = "customDatePicker form-control defaultDate" })
    </div>


    <div class="npForm col-md-2" style="padding-right:0px;">
        <label>Branch Wise</label>
        @Html.CheckBoxFor(m => m.BranchWise, new { id = "idBranchWise", @class = "cBranchWise form-control", @name = "att[]" })
    </div>

    <div class="npForm col-md-6">
        <label>Branch</label>
        @*@Html.SimpleDropDownFor(m => m.Branch, "/Config/DropDown/BranchProfile", new { @class = " form-control selectDropdown" })*@
        @Html.DropDownListFor(model => model.BranchId, new SelectList(Model.BranchList, "BranchID", "BranchName", Model.BranchId), new { @class = "cBranchId form-control" })
    </div>

          <div class="npForm col-md-2">
        <label>English</label>
        @Html.SimpleDropDownFor(m => m.InEnglish, "/Config/DropDown/Language", new { @class = " form-control selectDropdown" })
    </div>

           <div class="npForm col-md-2">
        <label>Monthly</label>
            @Html.CheckBoxFor(m => m.IsMonthly, new { id = "idIsMonthly", @class = "cIsMonthly form-control", @name = "att[]" })
    </div>

    <div class="npForm col-md-2">
        <label>Font</label>
        @Html.SimpleDropDownFor(m => m.FontSize, "/Config/DropDown/Font", new { @class = " form-control selectDropdown" })
    </div>

  
        
     

        @Html.HiddenFor(m => m.PreviewOnly)        ;
        if (string.IsNullOrEmpty(NBRAuth) || NBRAuth.ToLower() == "all")
        {
            <button type="button" class=" btn sym-btn-report trPreview" style=" margin-left: 15px;">
                Preview
            </button>
        }

        <button type="button" class=" btn sym-btn-report trVAT17"> VAT 6.2</button>
        
        <button type="button" class="sym-btn-close closeBtn pull-right"> Close</button>
    }
    </div>
</div>

<div id="myHigherModal" class="HigherModal"></div>

<script src="~/assets/javascripts/custom.js"></script>
<script>
    $(document).ready(function () {
        function checkValidation() {
            
            var product = $('.popUpItemNo').val();
            
            if (product == "") {
                ShowResult("Fail", "Select a product first!");
                return false;
            }
            var startDate = $('#StartDate').val();

            if (startDate == "") {
                ShowResult("Fail", "Select start date!");
                return false;
            }
            var endDate = $('#EndDate').val();
            if (endDate == "") {
                ShowResult("Fail", "Select end date!");
                return false;
            }
            return true;
        }
        ////clicking preview button
        $('.trPreview').click(function () {

            var isValid = checkValidation();
            if (isValid == false) {
                return;
            }
            //var product = $('.popUpItemNo').val();

            //if (product == "") {
            //    ShowResult("Fail", "Select a product first!");
            //    return;
            //}

            $("#PreviewOnly").val("true");
            $('#frmVAT17').submit();
        });
        ////clicking vat16 button
        $('.trVAT17').click(function () {

            var isValid = checkValidation();
            if (isValid == false) {
                return;
            }

            //var product = $('.popUpItemNo').val();
            //if (product == "") {
            //    ShowResult("Fail", "Select a product first!");
            //    return;
            //}
            $("#PreviewOnly").val("false");
            $('#frmVAT17').submit();
        });

        ////for dropdown
        InitDropDowns();

        function ItemChange() {
            var value = $('.trName').val().toString();
            if (value == 0) {
                $('.trBranch').val("");
                return;
            }
            var url = "/Vms/BankInformation/GetItemInfo?ItemId=" + value;

            $.getJSON(url, function (data) {
                $('.trBranch').val(data);
            });
        }

        ////changing item
        $('.trName').change(function () {
            ItemChange();
        });

        function closeModal() {
            $("#myModal").html("");
            trkmodal.style.display = "none";
        }

        var span = document.getElementsByClassName("close")[0];
        var trkmodal = document.getElementById('myModal');
        //When the user clicks on <span> (x), close the trkmodal
        span.onclick = function () {
            closeModal();
        }

        $('.closeBtn').click(function () {
            closeModal();
        });
        
    });
</script>

<script>
    function modalInitHigher(url) {
        var modal = document.getElementById('myHigherModal');
        $.ajax({
            url: url,
            cache: false,
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (html) {
                modal.style.display = "block";
                $("#myHigherModal").html(html);
            }
        });
    }
    function callbackFromProductModal(sender) {
        var itemNo = $(sender).children('td.popUpItemNo').text();
        $('#ItemNo').val(itemNo);
    }
    $(function () {
        $('.productBtn').click(function () {
            var url = "/Vms/Product/GetProductPopUp?targetId=PopUpProductName";
            modalInitHigher(url);
        });
    });
</script>

<script>
    $(function () {
        var date = $('.trVAT17Date').val();
        if (date != null && date != "") {
            $('#StartDate').val(date);
            $('#EndDate').val(date);
        }
        var productName = $('tr.active .dItemName').val();
        if (productName == null || productName == "") {
            return;
        }


        $('.trProductName').val(productName);
        var itemNo = $('tr.active .dItemNo').val();

        $('.popUpItemNo').val(itemNo);

    })
</script>